@(tests: List[Test], testForm: Form[UserReq])

@import helper._

@main("Psychologies tests") {
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
            @form(action = routes.PsychoTest.startTest, 'class -> "form-horizontal") {
                <fieldset>
                    <legend>User information</legend>
                    <div class="form-group">
                        @*<label for="email" class="col-lg-2 control-label">Email</label>*@
                        <div class="col-lg-10">
                        @inputText(
                            testForm("email"),
                            '_label -> null,
                            'class -> "form-control",
                            'placeholder -> "Email"
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("name"),
                            '_label -> null,
                            'class -> "form-control",
                            'placeholder -> "Name"
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("nationality"),
                            '_label -> null,
                            'class -> "form-control",
                            'placeholder -> "Nationality"
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("age"),
                            '_label -> null,
                            'class -> "form-control",
                            'placeholder -> "Age"
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("gender"),
                            '_label -> null,
                            'class -> "form-control",
                            'placeholder -> "Gender"
                        )
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-10">
                        @select(
                            testForm("test"),
                            options(
                                tests.map(test =>
                                    test.name
                                )
                            ),
                            'class -> "form-control",
                            '_label -> "Select test"
                        )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}
