@(user: User, images: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Gothshild test") {

<h5 id="user" data-user-id="@user.id"/>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>
    <p>В каждом сложном рисунке содержится один из следующих элементов</p>
    <br><br>
    <img id="instr1" src="@routes.Assets.at("images/gothshild/instruction-1.jpg")">
    <p>Назовите в каждом случае, какой из этих элементов содержится в рисунке.</p>
    <br><br>
    <p>Например, </p>
    <img id="instr2" src="@routes.Assets.at("images/gothshild/instruction-2.jpg")">
    <br><br>
    <p>Демонстрируем правильное решение задачи: </p>
    <img id="instr3" src="@routes.Assets.at("images/gothshild/instruction-3.jpg")">
    <br><br>
    <p>Помните!</p>
    <p>В каждом рисунке имеется один из элементов, той же величины и так же расположенный, как на образце</p>
    <p>В каждом рисунке имеется только один из элементов</p>
</div>

<div id="gothshild-test" class="jumbotron" style="height:600px">
</div>
}
