@(user: User, images: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Gothshild test") {

<h5 id="user" data-user-id="@user.id"/>
<div id="instruction" class="alert alert-warning">
    <h4>Instruction</h4>
    <p>Each complex figure is one of the following elements.</p>
    <br>
    <img id="instr1" src="@routes.Assets.at("images/gothshild/instruction-1.jpg")">
    <p>Which of these elements is contained in each complex figure in the picture?</p>
    <br>
    <p>Example, </p>
    <img id="instr2" src="@routes.Assets.at("images/gothshild/instruction-2.jpg")">
    <br>
    <p>Demonstrate the correct solution to these tasks: </p>
    <img id="instr3" src="@routes.Assets.at("images/gothshild/instruction-3.jpg")">
    <br>
    <p>CAUTION!</p>
    <p>In each complex figure there is an elements, it is of the same size and are also located, as a sample.</p>
    <p>In each complex figure always have an element and it is always only one.</p>
</div>

<div id="gothshild-test-en" class="jumbotron" style="height:600px">
</div>
}
