@(user: User, images: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Gothshild test") {

<h5 id="user" data-user-id="@user.id"/>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>
    <img id="instr" src="@routes.Assets.at("images/gothshild/instruction.jpg")">
    <p>TODO
</div>

<div id="gothshild-test" class="jumbotron" style="height:600px">
    <img id="patternA" src="@routes.Assets.at("images/gothshild/A.jpg")">
    <img id="patternB" src="@routes.Assets.at("images/gothshild/B.jpg")">
    <img id="patternV" src="@routes.Assets.at("images/gothshild/V.jpg")">
    <img id="patternG" src="@routes.Assets.at("images/gothshild/G.jpg")">
    <img id="patternD" src="@routes.Assets.at("images/gothshild/D.jpg")">

</div>
}
