@(user: User)

    @main("Kagan Test") {

        <h2>Hello, @user.name!</h2>

        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Instruction</h4>
            <p>Now you'll see a picture and a few similar to it. You need to find the exact same picture as that that on
                top, and select it by clicking the mouse. For initial training you will see two demonstration cards. Further
                tasks are not so simple. Find a picture as soon as possible, as much as possible similar to this one at the
                top, and immediately select it. After your choice, the next task will be presented to you automatically.</p>
        </div>

        <div style="text-align : center">
            <img src="@routes.Assets.at("images/training-session/1/0.jpg")">
        </div>

        <em id="scalajsShoutOut"></em>
        <div class="jumbotron">
        @for(i <- 1 to 8) {
            <img src="@routes.Assets.at("images/training-session/1/" + i + ".jpg")">
            }
        </div>
    }
