@(user: User, images: Array[Image])

@main("Kagan Test") {

    <h2>Hello, @user.name!</h2>

    <div class="alert alert-dismissible alert-warning">
        <h4>Instruction</h4>
        <p>Now you'll see a picture and a few similar to it. You need to find the exact same picture as that that on
            top, and select it by clicking the mouse. For initial training you will see two demonstration cards. Further
            tasks are not so simple. Find a picture as soon as possible, as much as possible similar to this one at the
            top, and immediately select it. After your choice, the next task will be presented to you automatically.</p>
    </div>

    <div style="text-align : center">
        <img id="pattern" src="@routes.Assets.at("images/training-session/1/0.jpg")">
    </div>

    <div id="kagan-test" class="jumbotron">
        <p id="scalajsShoutOut"></p>
        @for(i <- 0 until images.length) {
            <img id="@i" src="@routes.Assets.at("images/" + images(i).testName + "/" +
                    images(i).roundNumber + "/" + images(i).imageNumber + ".jpg")">
            }
    </div>
}
