@(user: User, listOfImages: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Тест --") {

<h5 id="user" data-user-id="@user.id"/>
<style>
    .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    }
</style>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>
    Здравствуйте, предлагаем Вам пройти тест на оценку уровня внимательности.
    Длительность прохождения теста индивидуально занимает от 20 до 40 минут.
    В ходе работы Вам будет предложено к просмотру 180 цветных изображений живой и неживой природы. <br><br>

    Первоначально на экране компьютера Вы увидите фиксационный крест,
    и после него на доли секунды появится цветная фотография, которая быстро исчезнет.
    Сразу после фотографии последует черно-белая картинка круга на сером фоне.
    Затем Вам будет предложено из нескольких вариантов ответа выбрать, что Вы успели увидеть на фотографии.
    Если Ваш ответ о содержании фотографии будет правильным, тест продолжится дальше с предъявлением другой фотографии.
    Если Ваш ответ окажется неправильным, тест предъявит вам фотографию еще раз на более длительный период времени,
    и снова предложит оценить её содержание. <br><br>

    Для загрузки элементов теста требуется время. Сверху экрана Вы видите полосу загрузки.
    Вы сможете начать тестирование, когда полоса достигнет правого края экрана.
    Когда загрузка приложения будет завершена и Вы будете готовы - нажмите Start.
    <br><br>

</div>


<div id="images" data-images="@listOfImages"/>

<div id="big" class="progress progress-striped active overlay">
    <div id="loading-bar" class="progress-bar" style="height:30px; width: 0%"></div>
</div>

<em id="multi-test"></em>
<div id="multi-choice-test" class="jumbotron" style="height:600px">
</div>
}
