@(user: User, images: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Stroop test") {

<h5 id="user" data-user-id="@user.id"/>
<div id="instruction" class="alert alert-warning">
    <h4>Instruction</h4>
    <p>You will be presented four colors: yellow, green, blue and red in three series.
        <br><br>
        During the first series of color will be written in black on a gray background. You will need to read the word and press the keyboard letter that begins the word. For example, brought the word "yellow"; the correct answer - pressing "y"
        <br><br>
        During the second series will be presented to you a rectangular painted in different colors. Your task is to identify the paint and press the letter on the keyboard, which begins this paint color
        <br><br>
        During the third series you will see the words printed with inappropriate color values. You have to press the letter that begins the color of the paint, which is printed word. For example, the word "yellow" is printed in blue paint. In this case, the correct answer - key "b".
        <br><br>
        Prepare for the test, get the key "y", "g", "b", "r" on the keyboard. To act as quickly as possible. If you are ready - press «Start test!».</p>
</div>

<div id="stroop-test-en" class="jumbotron" style="height:600px">
</div>
}
