@(user: User, images: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Stroop test") {

<h5 id="user" data-user-id="@user.id"/>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>
    <p>Вам будут предъявляться четыре цвета: желтый, зеленый, синий и красный в трех сериях.
        <br><br>
        Во время первой серии цвета будут написаны черной краской на сером фоне. Вам необходимо будет прочитать слово и нажать на клавиатуре букву, с которой начинается это слово.Например, предъявлено слово "желтый"; правильный ответ – нажатие клавиши "ж".
        <br><br>
        Во время второй серии Вам будут предъявлены прямоугольные карты залитые разной краской. Ваша задача опознать краску и нажать на клавиатуре букву, с которой начинается цвет этой краски. Например, предъявлен прямоугольник красного цвета; правильный ответ - нажатие клавиши "к".
        <br><br>
        Во время третьей серии Вы увидите слова напечатанные краской несоответствующей значениям цветов. Вам необходимо нажать букву, с которой начинается цвет краски, которой напечатано слово. Например, слово «желтый» будет напечатано синей краской. В данном случае правильный ответ – клавиша «с».
        <br><br>
        Подготовьтесь к тесту, найдите клавиши «с», «ж», «к», «з» на клавиатуре. Действуйте как можно быстрее. Убедитесь, что у Вас включена русская клавиатура. Если вы готовы – нажмите «Start test!».</p>
</div>

<div id="stroop-test" class="jumbotron" style="height:600px">
</div>
}
