@(tests: List[Test], testForm: Form[UserReq])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

    @main("Psychologies tests") {
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
            @form(action = routes.PsychoTest.startTest, 'class -> "form-horizontal") {
                <fieldset>
                    <legend>User information</legend>
                    <div class="form-group">
                        <div class="col-lg-10">
                        @inputText(
                            testForm("email"),
                            '_label -> "Email",
                            'class -> "form-control",
                            'placeholder -> "Email",
                            '_showConstraints -> false
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("name"),
                            '_label -> "Name",
                            'class -> "form-control",
                            'placeholder -> "Name",
                            '_showConstraints -> false
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("nationality"),
                            '_label -> "Native language",
                            'class -> "form-control",
                            'placeholder -> "Native language",
                            '_showConstraints -> false
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("age"),
                            '_label -> "Age",
                            'class -> "form-control",
                            'placeholder -> "Age",
                            '_showConstraints -> false
                        )
                        </div>

                        <div class="col-lg-10">
                        @inputText(
                            testForm("gender"),
                            '_label -> "Gender",
                            'class -> "form-control",
                            'placeholder -> "Gender",
                            '_showConstraints -> false
                        )
                        </div>

                        <div class="col-lg-10">
                            @inputText(
                            testForm("driving-license"),
                            '_label -> "Driving License",
                            'class -> "form-control",
                            'placeholder -> "Do you have driving license?",
                            '_showConstraints -> false
                            )
                        </div>

                        <div class="col-lg-10">
                            @inputText(
                            testForm("driving-time"),
                            '_label -> "Driving Experience",
                            'class -> "form-control",
                            'placeholder -> "How long do you driving car? (in years)",
                            '_showConstraints -> false
                            )
                        </div>

                        <div class="col-lg-10">
                            @inputText(
                            testForm("pet"),
                            '_label -> "Dog",
                            'class -> "form-control",
                            'placeholder -> "Do you have dog?",
                            '_showConstraints -> false
                            )
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-10">
                        @select(
                            testForm("test"),
                            options(
                                tests.map(test =>
                                    test.id + "#" + test.name
                                )
                            ),
                            'class -> "form-control",
                            '_label -> "Select test",
                            '_showConstraints -> false
                        )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}
