@(user: User, listOfImages: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Ultra rapid recognition") {

<h2 id="user" data-user-id="@user.id">Hello, @user.name!</h2>

<div class="alert alert-warning">
    <h4>Instruction</h4>

    <p>Данный эксперимент состоит из 732 заданий, которые разделены на две части. Прохождение всего эксперимента
        занимает 40 минут. Между первой и второй частью предусмотрена пауза, во время, которой Вы можете отдохнуть. В
        ходе эксперимента фиксируется время Вашей реакции и успешность выполнения задания.
        Инструкция к первой части эксперимента. Эксперимент состоит из 624 заданий, которые разделены на тренировочную и
        основную серии. В тренировочной серии Вам будет предложено выполнение 36 заданий с обратной связью о Вашей
        успешности. Вы увидите фиксационный крест, и после него появится изображение, которое быстро исчезнет, после
        этого на экране появится вопрос о содержании этого изображения. Если Ваш ответ на данный вопрос положительный –
        нажмите «пробел», если Ваш ответ отрицательный – дождитесь следующего задания. В тренировочной серии
        правильность Вашего ответа будет отражена в цвете фиксационного креста, если крест красного цвета – Ваш ответ
        был неверный, если крест зеленого цвета – Вы ответили правильно. После тренировочной серии начнется основная, её
        структура идентична тренировочной, однако в ней не будет предоставляться обратная связь о правильности Ваших
        ответов. Если Вы готовы нажмите Start.
</div>

<div id="images" data-images="@listOfImages"/>

<em id="ultra-test"></em>
<div id="ultra-rapid" class="jumbotron">
    <canvas id="ultra-canvas" width="300" height="300"/>
</div>
}
