@(user: User, listOfImages: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Ultra rapid recognition v2") {

<h5 id="user" data-user-id="@user.id"/>
<style>
    .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    }
</style>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>
    TBD
    TBD

</div>


<div id="images" data-images="@listOfImages"/>

<div id="big" class="progress progress-striped active overlay">
    <div id="loading-bar" class="progress-bar" style="height:30px; width: 0%"></div>
</div>

<em id="ultra-test"></em>
<div id="ultra-rapid-2" class="jumbotron" style="height:600px">
</div>
}
