@(user: User, listOfImages: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Ultra rapid recognition") {

<h5 id="user" data-user-id="@user.id"/>
<style>
    .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    }
</style>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>

    <p>Данный эксперимент состоит из 540 заданий, которые разделены на две части. Прохождение
        всего эксперимента занимает около 40 минут. Между первой и второй частью предусмотрена пауза, во
        время, которой Вы можете отдохнуть. В ходе эксперимента фиксируется время Вашей реакции и
        успешность выполнения задания.<br><br>

        Инструкция к первой части эксперимента. Эксперимент состоит из 624 заданий, которые
        разделены на тренировочную и основную серии. В тренировочной серии Вам будет предложено
        выполнение 36 заданий с обратной связью о Вашей успешности. Вы увидите фиксационный крест,
        и после него на доли секунды появится изображение-картинка, которая быстро исчезнет. После
        этого на экране появится вопрос о содержании этого изображения (пример вопроса: Это
        изображение природы?)<br><br>

        Если Ваш ответ на данный вопрос положительный – нажмите «пробел»
        сразу после появления вопроса, если Ваш ответ отрицательный – дождитесь следующего задания
        – появления фиксационного креста.<br><br>

        В тренировочной серии правильность Вашего ответа
        будет отражена в цвете фиксационного креста, если крест красного цвета – Ваш ответ был
        неверный, если крест зеленого цвета – Вы ответили правильно. После тренировочной серии
        начнется основная, её структура идентична тренировочной, однако в ней не будет
        предоставляться обратная связь о правильности Ваших ответов. Если Вы готовы нажмите Start.
</div>



<div id="images" data-images="@listOfImages"/>

<div id="big" class="progress progress-striped active overlay">
    <div id="loading-bar" class="progress-bar" style="height:30px; width: 0%" ></div>
</div>

<em id="ultra-test"></em>
<div id="ultra-rapid" class="jumbotron" style="height:600px">
</div>
}
