@(user: User, listOfImages: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Ultra rapid recognition") {

<h5 id="user" data-user-id="@user.id"/>
<style>
    .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    }
</style>
<div id="instruction" class="alert alert-warning">
    <h4>Instruction</h4>

    <p>The experiment consists of 540 tasks which are divided into two parts. Duration of experiment is roughly 40 minutes.
        Between the first and the second part there is a pause, during which you can relax.
        We capture your reaction time and successfully completed assignments in the experiment.<br><br>

        Instruction to the first part of the experiment. The experiment consists of 450 tasks,
        which are divided into training and basic series.
        In the training you will be asked to perform 36 tasks with feedback about your success.
        You will see a fixation cross, and after a few milliseconds an image, which quickly disappears.
        After that you will see a question about the content of the image (sample question: Is the scene artificial (man-made))<br><br>

        If your answer to this question is yes - click "space" immediately after the question,
        if your answer is no - wait for the next task - the appearance of the fixation cross. <br><br>

        The correctness of your response will be reflected in color of the fixation cross.
        E.g. the red cross - your answer was wrong, if the cross is green - you answered correctly.
        After the training begins the main series, its structure is identical to the training,
        but it will not be given any feedback on the correctness of your answers. If you are ready, click Start. <br><br>

        Loading of all needed elements will take some time. You will see a progressbar on the top.
        When the progressbar reaches the right side, you could start testing.
</div>


<div id="images" data-images="@listOfImages"/>

<div id="big" class="progress progress-striped active overlay">
    <div id="loading-bar" class="progress-bar" style="height:30px; width: 0%"></div>
</div>

<em id="ultra-test"></em>
<div id="ultra-rapid-en" class="jumbotron" style="height:600px">
</div>
}
