@(user: User, listOfImages: scala.collection.mutable.ArrayBuffer[shared.UltraRapidImage])

@main("Ultra rapid recognition v2") {

<h5 id="user" data-user-id="@user.id"/>
<style>
    .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    }
</style>
<div id="instruction" class="alert alert-warning">
    <h4>Инструкция</h4>
    Здравствуйте, предлагаем Вам пройти тест на оценку уровня внимательности.
    Длительность прохождения теста индивидуально занимает от 20 до 40 минут.
    В ходе работы Вам будет предложено к просмотру 27 изображений.<br><br>

    Первоначально на экране компьютера Вы увидите фиксационный крест, и после него на доли секунды появится изображение,
    которое быстро исчезнет.<br><br>

    После этого Вам будет предложено описать увиденное в свободной форме в открывшемся окне.
    Когда Вы закончите описание – нажмите <b>Продолжить</b> и тест перейдет к следующему изображению.<br><br>

    Время Вашей работы над точным описанием увиденного не ограничено, при пропуске более 7 форм описаний – тест
    аннулируется.
    Для загрузки элементов теста требуется время. Сверху экрана Вы видите полосу загрузки.
    Вы сможете начать тестирование, когда полоса достигнет правого края экрана.
    Когда загрузка приложения будет завершена и Вы будете готовы - нажмите Start.
    <br><br>

</div>


<div id="images" data-images="@listOfImages"/>

<div id="big" class="progress progress-striped active overlay">
    <div id="loading-bar" class="progress-bar" style="height:30px; width: 0%"></div>
</div>

<em id="ultra-test"></em>
<div id="ultra-rapid-2" class="jumbotron" style="height:600px">
</div>
}
